@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Grifter";
    font-weight: 700;
    src: url("/font/grifter-Bold-700.otf") format("otf");
  }
}
.wrapper {
  @apply px-5 sm:px-10 md:px-16 lg:px-24;
}
body {
  @apply font-nunito text-baseBlack;
}
html {
  scroll-behavior: smooth;
}